#main {
    color: var(--text-dark);
    padding-top: 250px;
    padding-bottom: 150px;
    .main-title {
        font-size: 2.5rem;
        text-align: center;
        text-transform: uppercase;
    }
}